/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

.frontend {
  animation-name: frontend;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes frontend { 
  0% {
    transform: translateX(0rem);
  }
  10% {
    transform: translateX(-0.5rem) translateY(0.5rem);
  }
  20% {
    transform: translateY(-0.5rem);
  }
  30% {
    transform: translateX(-0.5rem);
  }
  40% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  60% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateX(-0.5rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  90% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
}
}
.design {
  animation-name: design;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes design {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(0rem) rotate(360deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(0rem);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.and {
  animation-name: and;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes and {
  0% {
    border-radius: var(--pill);
  }
  50% {
    border-radius: 1rem;
  }
  100% {
    border-radius: var(--pill);
  }
 
}

.development {
  animation-name: development;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes development {
  0% {
    background: var(--secondary);
    color: var(--highlight-primary);
  }
  50% {
    border-color: var(--highlight-secondary);
    background: var(--highlight-secondary);
    color: var(--highlight-primary);
  }
  100% {
    background: var(--secondary);
    color: var(--highlight-primary);  }
 
}

.sprint {
  animation-name: sprint;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes sprint {
  0% {
    background: var(--secondary);
    color: var(--highlight-primary);
  }
  25% {
    border-color: var(--highlight-primary);
    background: var(--highlight-primary);
    color: var(--highlight-primary);
  }
  50% {
    background: var(--secondary);
    color: var(--highlight-primary); 
 }
 75% {
  border-color: var(--highlight-primary);
  background: var(--highlight-primary);
  color: var(--highlight-primary);
}
}

.fix {
  animation-name: fix;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes fix { 
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
}
}

.the {
  animation-name: the;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes the { 
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0rem);
}
}

.flow {
  animation-name: flow;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes flow { 
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(3rem);
  }
  75% {
    transform:translateX(3rem)rotate(360deg);
  }
  100% {
    transform: translateX(0rem)rotate(360deg);
}
}

.user {
  animation-name: user;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes user { 
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
}
}

.interface {
  animation-name: interface;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

@keyframes interface { 
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5)rotate(10deg)
  }
  100% {
    transform: scale(1);
}
}